.cpcache/
**/.claude/settings.local.json
.clj-kondo/
.lsp/
.nrepl-port
archive/
target/
.clojure-mcp
extra/
.direnv
example-project
*.log
prompts/PROMPTS.md
.box*
.cljdoc-preview
.tmuxb_session
.claude/
.brepl/
