{:deps  {}
 :paths ["resources" "scripts"]
 :tasks {:requires ([babashka.fs :as fs]
                    [clojure.string :as str]
                    [babashka.tasks :refer [shell]])
         :init     (do (def paths #_["src" "test" "dev" "examples"] ["src" "test"]))
         dev       {:doc "Start a local development server" :task (apply clojure "-M:dev:repl/dev" *command-line-args*)}

         test
         {:doc  "Run tests"
          :task (apply clojure "-M:dev:test:kaocha" *command-line-args*)}

         test:parallel
         {:doc  "Run tests in parallel groups (default 4)"
          :task (let [groups (or (first *command-line-args*) "4")]
                  (clojure "-M:dev" "scripts/tests_parallel.clj" groups))}

         fmt
         {:doc  "Format code with cljfmt"
          :task (apply shell "cljfmt --quiet -v fix" (if (seq *command-line-args*) *command-line-args* paths))}

         fmt:check
         {:doc  "Check code formatting without making changes"
          :task (apply shell "cljfmt check " paths)}

         lint:copy-configs
         {:doc  "Copy clj-kondo config files from deps in the project"
          :task (let [cp (-> (shell {:out :string} "clojure -Spath -M:test:dev") :out str/trim)]
                  (shell (str "clj-kondo --lint " cp " --dependencies --copy-configs --skip-lint")))}

         lint
         {:doc  "Run the clj-kondo linter on the clojure code"
          :task (if (seq *command-line-args*)
                  (apply shell "clj-kondo" "--lint" *command-line-args*)
                  (apply shell "clj-kondo --lint" paths))}

         deps-tree
         {:doc  "Show dependency tree"
          :task (clojure "-X:deps tree :aliases '[:dev]'")}

         doc:preview
         {:doc  "Run cljdoc preview server"
          ;; https://github.com/cljdoc/cljdoc/blob/master/doc/running-cljdoc-locally-author.adoc
          :task (shell "podman" "run" "--rm"
                       "--publish" "8000:8000"
                       "--volume" (str (System/getProperty "user.home") "/.m2:/root/.m2")
                       "--volume" "./.cljdoc-preview:/app/data"
                       "--platform" "linux/amd64"
                       "docker.io/cljdoc/cljdoc:latest")}

         jar {:override-builtin true
              :depends          [clean]
              :doc              "Build an jar"
              :task             (shell "clojure -T:build jar")}

         clean {:override-builtin true
                :doc              "Clean build artifacts"
                :task             (shell "clojure -T:build clean")}

         publish {:doc     "Publish the clojure sdk libs to clojars"
                  :depends [jar]
                  :task    (clojure "-T:build deploy")}

         qa
         {:doc     "Run full quality assurance: format, lint, and test"
          :depends [fmt lint test]}

         ci {:doc     "Ran by the CI"
             :depends [fmt:check lint test]}}}
