{:linters {:unresolved-symbol {:exclude [(clojure.test/are [thrown? thrown-with-msg? thrown-with-error-type?])
                                         (clojure.test/is [thrown? thrown-with-msg? thrown-with-error-type?])]}
           :unresolved-var {:exclude [kaocha.plugin/timing-edn]}}}
