{:api-index/version 1,
 :component "ol.clave",
 :version "next",
 :namespaces
 {"ol.clave.acme.account"
  {:page "api/ol-clave-acme-account.adoc",
   :vars
   {"account-from-edn" "account-from-edn",
    "create" "create",
    "deserialize" "deserialize",
    "generate-keypair" "generate-keypair",
    "get-primary-contact" "get-primary-contact",
    "serialize" "serialize",
    "validate-account" "validate-account"}},
  "ol.clave.acme.challenge"
  {:page "api/ol-clave-acme-challenge.adoc",
   :vars
   {"acme-tls-1-protocol" "acme-tls-1-protocol",
    "dns01-key-authorization" "dns01-key-authorization",
    "dns01-txt-name" "dns01-txt-name",
    "find-by-type" "find-by-type",
    "http01-resource-path" "http01-resource-path",
    "identifier" "identifier",
    "identifier-domain" "identifier-domain",
    "key-authorization" "key-authorization",
    "tlsalpn01-challenge-cert" "tlsalpn01-challenge-cert",
    "token" "token",
    "wildcard?" "wildcard-QMARK-"}},
  "ol.clave.acme.commands"
  {:page "api/ol-clave-acme-commands.adoc",
   :vars
   {"check-terms-of-service" "check-terms-of-service",
    "compute-eab-binding" "compute-eab-binding",
    "create-session" "create-session",
    "deactivate-account" "deactivate-account",
    "deactivate-authorization" "deactivate-authorization",
    "finalize-order" "finalize-order",
    "find-account-by-key" "find-account-by-key",
    "get-account" "get-account",
    "get-authorization" "get-authorization",
    "get-certificate" "get-certificate",
    "get-order" "get-order",
    "get-renewal-info" "get-renewal-info",
    "load-directory" "load-directory",
    "new-account" "new-account",
    "new-authorization" "new-authorization",
    "new-order" "new-order",
    "new-session" "new-session",
    "poll-authorization" "poll-authorization",
    "poll-order" "poll-order",
    "respond-challenge" "respond-challenge",
    "revoke-certificate" "revoke-certificate",
    "rollover-account-key" "rollover-account-key",
    "set-polling" "set-polling",
    "update-account-contact" "update-account-contact"}},
  "ol.clave.acme.impl.account"
  {:page "api/ol-clave-acme-impl-account.adoc",
   :vars
   {"account-from-edn" "account-from-edn",
    "create" "create",
    "deserialize" "deserialize",
    "generate-keypair" "generate-keypair",
    "get-primary-contact" "get-primary-contact",
    "serialize" "serialize",
    "validate-account" "validate-account"}},
  "ol.clave.acme.impl.ari"
  {:page "api/ol-clave-acme-impl-ari.adoc",
   :vars
   {"authority-key-identifier" "authority-key-identifier",
    "normalize-renewal-info" "normalize-renewal-info",
    "renewal-id" "renewal-id",
    "serial-der-bytes" "serial-der-bytes"}},
  "ol.clave.acme.impl.authorization"
  {:page "api/ol-clave-acme-impl-authorization.adoc",
   :vars
   {"authorization-invalid?" "authorization-invalid-QMARK-",
    "authorization-problem" "authorization-problem",
    "authorization-unusable?" "authorization-unusable-QMARK-",
    "authorization-valid?" "authorization-valid-QMARK-",
    "normalize-authorization" "normalize-authorization",
    "wildcard-identifier?" "wildcard-identifier-QMARK-"}},
  "ol.clave.acme.impl.challenge"
  {:page "api/ol-clave-acme-impl-challenge.adoc",
   :vars
   {"dns01-key-authorization" "dns01-key-authorization",
    "dns01-txt-name" "dns01-txt-name",
    "http01-resource-path" "http01-resource-path",
    "key-authorization" "key-authorization",
    "normalize-challenge" "normalize-challenge"}},
  "ol.clave.acme.impl.commands"
  {:page "api/ol-clave-acme-impl-commands.adoc",
   :vars
   {"check-terms-of-service" "check-terms-of-service",
    "compute-eab-binding" "compute-eab-binding",
    "create-session" "create-session",
    "deactivate-account" "deactivate-account",
    "deactivate-authorization" "deactivate-authorization",
    "default-poll-interval-ms" "default-poll-interval-ms",
    "default-poll-timeout-ms" "default-poll-timeout-ms",
    "finalize-order" "finalize-order",
    "find-account-by-key" "find-account-by-key",
    "get-account" "get-account",
    "get-authorization" "get-authorization",
    "get-certificate" "get-certificate",
    "get-order" "get-order",
    "get-renewal-info" "get-renewal-info",
    "load-directory" "load-directory",
    "new-account" "new-account",
    "new-authorization" "new-authorization",
    "new-order" "new-order",
    "new-session" "new-session",
    "poll-authorization" "poll-authorization",
    "poll-order" "poll-order",
    "respond-challenge" "respond-challenge",
    "revoke-certificate" "revoke-certificate",
    "rollover-account-key" "rollover-account-key",
    "set-polling" "set-polling",
    "update-account-contact" "update-account-contact"}},
  "ol.clave.acme.impl.directory-cache"
  {:page "api/ol-clave-acme-impl-directory-cache.adoc",
   :vars
   {"cache-clear" "cache-clear",
    "cache-evict" "cache-evict",
    "cache-get" "cache-get",
    "cache-put" "cache-put",
    "default-ttl-ms" "default-ttl-ms"}},
  "ol.clave.acme.impl.http.interceptors"
  {:page "api/ol-clave-acme-impl-http-interceptors.adoc",
   :vars
   {"->uri" "--GT-uri",
    "accept-header" "accept-header",
    "construct-uri" "construct-uri",
    "decode-body" "decode-body",
    "decompress-body" "decompress-body",
    "default-interceptors" "default-interceptors",
    "form-params" "form-params",
    "parse-json-body" "parse-json-body",
    "query-params" "query-params",
    "request-method" "request-method",
    "throw-on-exceptional-status-code"
    "throw-on-exceptional-status-code",
    "unexceptional-statuses" "unexceptional-statuses",
    "uri-with-query" "uri-with-query"}},
  "ol.clave.acme.impl.order"
  {:page "api/ol-clave-acme-impl-order.adoc",
   :vars
   {"build-order-payload" "build-order-payload",
    "create" "create",
    "create-identifier" "create-identifier",
    "ensure-identifiers-consistent" "ensure-identifiers-consistent",
    "normalize-order" "normalize-order",
    "order-ready?" "order-ready-QMARK-",
    "order-terminal?" "order-terminal-QMARK-"}},
  "ol.clave.acme.impl.revocation"
  {:page "api/ol-clave-acme-impl-revocation.adoc",
   :vars
   {"certificate->der" "certificate--GT-der",
    "payload" "payload",
    "valid-reason?" "valid-reason-QMARK-"}},
  "ol.clave.acme.impl.tos"
  {:page "api/ol-clave-acme-impl-tos.adoc",
   :vars {"compare-terms" "compare-terms"}},
  "ol.clave.acme.order"
  {:page "api/ol-clave-acme-order.adoc",
   :vars
   {"authorizations" "authorizations",
    "certificate-url" "certificate-url",
    "create" "create",
    "create-identifier" "create-identifier",
    "identifiers" "identifiers",
    "url" "url"}},
  "ol.clave.acme.solver.http"
  {:page "api/ol-clave-acme-solver-http.adoc",
   :vars
   {"handler" "handler",
    "solver" "solver",
    "wrap-acme-challenge" "wrap-acme-challenge"}},
  "ol.clave.acme.solver.tls-alpn"
  {:page "api/ol-clave-acme-solver-tls-alpn.adoc",
   :vars
   {"bootstrap-solver" "bootstrap-solver",
    "challenge-registry" "challenge-registry",
    "integrated-solver" "integrated-solver",
    "switch-to-integrated" "switch-to-integrated",
    "switchable-solver" "switchable-solver"}},
  "ol.clave.automation"
  {:page "api/ol-clave-automation.adoc",
   :vars
   {"create" "create",
    "get-domain-status" "get-domain-status",
    "get-event-queue" "get-event-queue",
    "has-valid-cert?" "has-valid-cert-QMARK-",
    "list-domains" "list-domains",
    "lookup-cert" "lookup-cert",
    "manage-domains" "manage-domains",
    "renew-managed" "renew-managed",
    "revoke" "revoke",
    "start" "start",
    "started?" "started-QMARK-",
    "stop" "stop",
    "trigger-maintenance" "trigger-maintenance",
    "unmanage-domains" "unmanage-domains"}},
  "ol.clave.automation.impl.cache"
  {:page "api/ol-clave-automation-impl-cache.adoc",
   :vars
   {"cache-certificate" "cache-certificate",
    "create-bundle" "create-bundle",
    "handle-command-result" "handle-command-result",
    "hash-certificate" "hash-certificate",
    "lookup-cert" "lookup-cert",
    "mark-managed" "mark-managed",
    "newer-than-cache?" "newer-than-cache-QMARK-",
    "remove-certificate" "remove-certificate",
    "update-ari-data" "update-ari-data",
    "update-ocsp-staple" "update-ocsp-staple"}},
  "ol.clave.automation.impl.config"
  {:page "api/ol-clave-automation-impl-config.adoc",
   :vars
   {"account-private-key-storage-key"
    "account-private-key-storage-key",
    "account-public-key-storage-key" "account-public-key-storage-key",
    "account-registration-storage-key"
    "account-registration-storage-key",
    "ari-storage-key" "ari-storage-key",
    "cert-storage-key" "cert-storage-key",
    "certs-prefix" "certs-prefix",
    "challenge-token-storage-key" "challenge-token-storage-key",
    "compromised-key-storage-key" "compromised-key-storage-key",
    "default-config" "default-config",
    "issuer-key-from-url" "issuer-key-from-url",
    "key-storage-key" "key-storage-key",
    "lets-encrypt-production-url" "lets-encrypt-production-url",
    "meta-storage-key" "meta-storage-key",
    "ocsp-storage-key" "ocsp-storage-key",
    "resolve-config" "resolve-config",
    "select-chain" "select-chain",
    "select-issuer" "select-issuer"}},
  "ol.clave.automation.impl.decisions"
  {:page "api/ol-clave-automation-impl-decisions.adoc",
   :vars
   {"*emergency-critical-threshold*"
    "-STAR-emergency-critical-threshold-STAR-",
    "*emergency-min-intervals*" "-STAR-emergency-min-intervals-STAR-",
    "*emergency-override-ari-threshold*"
    "-STAR-emergency-override-ari-threshold-STAR-",
    "*max-retry-duration-ms*" "-STAR-max-retry-duration-ms-STAR-",
    "*ocsp-refresh-threshold*" "-STAR-ocsp-refresh-threshold-STAR-",
    "*renewal-threshold*" "-STAR-renewal-threshold-STAR-",
    "*short-lived-threshold-ms*"
    "-STAR-short-lived-threshold-ms-STAR-",
    "ari-suggests-renewal?" "ari-suggests-renewal-QMARK-",
    "calculate-ari-renewal-time" "calculate-ari-renewal-time",
    "calculate-maintenance-jitter" "calculate-maintenance-jitter",
    "check-cert-maintenance" "check-cert-maintenance",
    "classify-error" "classify-error",
    "command-key" "command-key",
    "create-certificate-loaded-event"
    "create-certificate-loaded-event",
    "emergency-renewal?" "emergency-renewal-QMARK-",
    "event-for-result" "event-for-result",
    "fast-command?" "fast-command-QMARK-",
    "needs-ocsp-refresh?" "needs-ocsp-refresh-QMARK-",
    "needs-renewal?" "needs-renewal-QMARK-",
    "retry-intervals" "retry-intervals",
    "retryable-error?" "retryable-error-QMARK-",
    "short-lived-cert?" "short-lived-cert-QMARK-"}},
  "ol.clave.automation.impl.domain"
  {:page "api/ol-clave-automation-impl-domain.adoc",
   :vars {"validate-domain" "validate-domain"}},
  "ol.clave.automation.impl.system"
  {:page "api/ol-clave-automation-impl-system.adoc",
   :vars
   {"*config-fn-timeout-ms*" "-STAR-config-fn-timeout-ms-STAR-",
    "*fast-semaphore-permits*" "-STAR-fast-semaphore-permits-STAR-",
    "*maintenance-interval-ms*" "-STAR-maintenance-interval-ms-STAR-",
    "*maintenance-jitter-ms*" "-STAR-maintenance-jitter-ms-STAR-",
    "*shutdown-timeout-ms*" "-STAR-shutdown-timeout-ms-STAR-",
    "*slow-semaphore-permits*" "-STAR-slow-semaphore-permits-STAR-",
    "create" "create",
    "get-domain-status" "get-domain-status",
    "get-event-queue" "get-event-queue",
    "has-valid-cert?" "has-valid-cert-QMARK-",
    "list-domains" "list-domains",
    "lookup-cert" "lookup-cert",
    "manage-domains" "manage-domains",
    "renew-managed" "renew-managed",
    "revoke" "revoke",
    "start" "start",
    "started?" "started-QMARK-",
    "stop" "stop",
    "submit-command!" "submit-command-BANG-",
    "trigger-maintenance" "trigger-maintenance",
    "unmanage-domains" "unmanage-domains"}},
  "ol.clave.certificate"
  {:page "api/ol-clave-certificate.adoc",
   :vars
   {"csr" "csr",
    "identifiers-from-sans" "identifiers-from-sans",
    "keypair" "keypair",
    "lookup-challenge-token" "lookup-challenge-token",
    "obtain" "obtain",
    "obtain-for-sans" "obtain-for-sans",
    "private-key->pem" "private-key--GT-pem",
    "validate-solvers" "validate-solvers",
    "wrap-solver-for-distributed" "wrap-solver-for-distributed",
    "wrap-solvers-for-distributed" "wrap-solvers-for-distributed"}},
  "ol.clave.certificate.impl.csr"
  {:page "api/ol-clave-certificate-impl-csr.adoc",
   :vars {"create-csr" "create-csr"}},
  "ol.clave.certificate.impl.keygen"
  {:page "api/ol-clave-certificate-impl-keygen.adoc",
   :vars
   {"gen-ed25519" "gen-ed25519",
    "gen-p256" "gen-p256",
    "gen-p384" "gen-p384",
    "gen-rsa2048" "gen-rsa2048",
    "gen-rsa4096" "gen-rsa4096",
    "gen-rsa8192" "gen-rsa8192",
    "generate" "generate",
    "pem-encode" "pem-encode",
    "private-key->pem" "private-key--GT-pem",
    "supported-key-types" "supported-key-types"}},
  "ol.clave.certificate.impl.ocsp"
  {:page "api/ol-clave-certificate-impl-ocsp.adoc",
   :vars
   {"create-ocsp-request" "create-ocsp-request",
    "extract-ocsp-urls" "extract-ocsp-urls",
    "fetch-ocsp-for-bundle" "fetch-ocsp-for-bundle",
    "fetch-ocsp-response" "fetch-ocsp-response",
    "parse-ocsp-response" "parse-ocsp-response"}},
  "ol.clave.certificate.impl.parse"
  {:page "api/ol-clave-certificate-impl-parse.adoc",
   :vars
   {"parse-pem-chain" "parse-pem-chain",
    "parse-pem-response" "parse-pem-response"}},
  "ol.clave.certificate.impl.tls-alpn"
  {:page "api/ol-clave-certificate-impl-tls-alpn.adoc",
   :vars
   {"acme-tls-1-protocol" "acme-tls-1-protocol",
    "tlsalpn01-challenge-cert" "tlsalpn01-challenge-cert"}},
  "ol.clave.certificate.impl.x509"
  {:page "api/ol-clave-certificate-impl-x509.adoc",
   :vars
   {"encode-dns-general-name" "encode-dns-general-name",
    "encode-extension" "encode-extension",
    "encode-ip-general-name" "encode-ip-general-name",
    "idna-encode" "idna-encode"}},
  "ol.clave.crypto.impl.der"
  {:page "api/ol-clave-crypto-impl-der.adoc",
   :vars
   {"class-context-specific" "class-context-specific",
    "concat-bytes" "concat-bytes",
    "constructed-bit" "constructed-bit",
    "decode-bit-string" "decode-bit-string",
    "decode-enumerated" "decode-enumerated",
    "decode-generalized-time" "decode-generalized-time",
    "decode-ia5-string" "decode-ia5-string",
    "decode-integer" "decode-integer",
    "decode-octet-string" "decode-octet-string",
    "decode-oid" "decode-oid",
    "decode-printable-string" "decode-printable-string",
    "decode-sequence-elements" "decode-sequence-elements",
    "decode-utc-time" "decode-utc-time",
    "decode-utf8-string" "decode-utf8-string",
    "der-bit-string" "der-bit-string",
    "der-boolean" "der-boolean",
    "der-constructed" "der-constructed",
    "der-context-specific-constructed-implicit"
    "der-context-specific-constructed-implicit",
    "der-context-specific-primitive" "der-context-specific-primitive",
    "der-generalized-time" "der-generalized-time",
    "der-integer" "der-integer",
    "der-integer-bytes" "der-integer-bytes",
    "der-octet-string" "der-octet-string",
    "der-oid" "der-oid",
    "der-primitive" "der-primitive",
    "der-sequence" "der-sequence",
    "der-set" "der-set",
    "der-utc-time" "der-utc-time",
    "der-utf8-string" "der-utf8-string",
    "encode-base128" "encode-base128",
    "encode-length" "encode-length",
    "find-context-tag" "find-context-tag",
    "read-length" "read-length",
    "read-tlv" "read-tlv",
    "tag-bit-string" "tag-bit-string",
    "tag-boolean" "tag-boolean",
    "tag-enumerated" "tag-enumerated",
    "tag-generalized-time" "tag-generalized-time",
    "tag-ia5-string" "tag-ia5-string",
    "tag-integer" "tag-integer",
    "tag-null" "tag-null",
    "tag-octet-string" "tag-octet-string",
    "tag-oid" "tag-oid",
    "tag-printable-string" "tag-printable-string",
    "tag-sequence" "tag-sequence",
    "tag-set" "tag-set",
    "tag-utc-time" "tag-utc-time",
    "tag-utf8-string" "tag-utf8-string",
    "unwrap-octet-string" "unwrap-octet-string",
    "unwrap-sequence" "unwrap-sequence"}},
  "ol.clave.crypto.impl.json"
  {:page "api/ol-clave-crypto-impl-json.adoc",
   :vars {"read-str" "read-str", "write-str" "write-str"}},
  "ol.clave.crypto.impl.jwk"
  {:page "api/ol-clave-crypto-impl-jwk.adoc",
   :vars
   {"jwk->canonical-json" "jwk--GT-canonical-json",
    "jwk-thumbprint" "jwk-thumbprint",
    "jwk-thumbprint-from-jwk" "jwk-thumbprint-from-jwk",
    "key-algorithm" "key-algorithm",
    "public-jwk" "public-jwk"}},
  "ol.clave.crypto.impl.jws"
  {:page "api/ol-clave-crypto-impl-jws.adoc",
   :vars
   {"encode-payload-b64" "encode-payload-b64",
    "encode-protected-b64" "encode-protected-b64",
    "encode-signature-b64" "encode-signature-b64",
    "final-jws-json" "final-jws-json",
    "jws-alg" "jws-alg",
    "jws-encode-eab" "jws-encode-eab",
    "jws-encode-json" "jws-encode-json",
    "protected-dot-payload-bytes" "protected-dot-payload-bytes",
    "protected-header-json" "protected-header-json",
    "sign" "sign"}},
  "ol.clave.crypto.impl.parse-ip"
  {:page "api/ol-clave-crypto-impl-parse-ip.adoc",
   :vars
   {"bytes->inet-address" "bytes--GT-inet-address",
    "from-string" "from-string",
    "ip-string->bytes" "ip-string--GT-bytes"}},
  "ol.clave.crypto.impl.util"
  {:page "api/ol-clave-crypto-impl-util.adoc",
   :vars {"qualify-keys" "qualify-keys"}},
  "ol.clave.errors"
  {:page "api/ol-clave-errors.adoc",
   :vars
   {"account-creation-failed" "account-creation-failed",
    "account-deactivation-failed" "account-deactivation-failed",
    "account-key-rollover-failed" "account-key-rollover-failed",
    "account-key-rollover-verification-failed"
    "account-key-rollover-verification-failed",
    "account-not-found" "account-not-found",
    "account-retrieval-failed" "account-retrieval-failed",
    "account-update-failed" "account-update-failed",
    "authorization-invalid" "authorization-invalid",
    "authorization-retrieval-failed" "authorization-retrieval-failed",
    "authorization-timeout" "authorization-timeout",
    "authorization-unusable" "authorization-unusable",
    "base64" "base64",
    "cancelled" "cancelled",
    "certificate-download-failed" "certificate-download-failed",
    "challenge-rejected" "challenge-rejected",
    "ecdsa-signature-format" "ecdsa-signature-format",
    "encoding-failed" "encoding-failed",
    "ex" "ex",
    "external-account-required" "external-account-required",
    "failed-identifiers" "failed-identifiers",
    "invalid-account" "invalid-account",
    "invalid-account-edn" "invalid-account-edn",
    "invalid-account-key" "invalid-account-key",
    "invalid-certificate" "invalid-certificate",
    "invalid-contact" "invalid-contact",
    "invalid-contact-entry" "invalid-contact-entry",
    "invalid-contact-uri" "invalid-contact-uri",
    "invalid-directory" "invalid-directory",
    "invalid-eab" "invalid-eab",
    "invalid-header" "invalid-header",
    "invalid-idna" "invalid-idna",
    "invalid-ip" "invalid-ip",
    "invalid-san" "invalid-san",
    "invalid-scope" "invalid-scope",
    "invalid-solver" "invalid-solver",
    "invalid-tos" "invalid-tos",
    "json-escape" "json-escape",
    "key-mismatch" "key-mismatch",
    "malformed-pem" "malformed-pem",
    "missing-account-context" "missing-account-context",
    "missing-location-header" "missing-location-header",
    "no-compatible-challenge" "no-compatible-challenge",
    "order-creation-failed" "order-creation-failed",
    "order-inconsistent" "order-inconsistent",
    "order-invalid" "order-invalid",
    "order-not-ready" "order-not-ready",
    "order-retrieval-failed" "order-retrieval-failed",
    "order-timeout" "order-timeout",
    "pre-authorization-failed" "pre-authorization-failed",
    "pre-authorization-unsupported" "pre-authorization-unsupported",
    "problem" "problem",
    "problem-type-ns" "problem-type-ns",
    "pt-account-does-not-exist" "pt-account-does-not-exist",
    "pt-already-replaced" "pt-already-replaced",
    "pt-already-revoked" "pt-already-revoked",
    "pt-bad-csr" "pt-bad-csr",
    "pt-bad-nonce" "pt-bad-nonce",
    "pt-bad-public-key" "pt-bad-public-key",
    "pt-bad-revocation-reason" "pt-bad-revocation-reason",
    "pt-bad-signature-algorithm" "pt-bad-signature-algorithm",
    "pt-caa" "pt-caa",
    "pt-compound" "pt-compound",
    "pt-connection" "pt-connection",
    "pt-dns" "pt-dns",
    "pt-external-account-required" "pt-external-account-required",
    "pt-incorrect-response" "pt-incorrect-response",
    "pt-invalid-contact" "pt-invalid-contact",
    "pt-malformed" "pt-malformed",
    "pt-order-not-ready" "pt-order-not-ready",
    "pt-rate-limited" "pt-rate-limited",
    "pt-rejected-identifier" "pt-rejected-identifier",
    "pt-server-internal" "pt-server-internal",
    "pt-tls" "pt-tls",
    "pt-unauthorized" "pt-unauthorized",
    "pt-unsupported-contact" "pt-unsupported-contact",
    "pt-unsupported-identifier" "pt-unsupported-identifier",
    "pt-user-action-required" "pt-user-action-required",
    "renewal-info-failed" "renewal-info-failed",
    "renewal-info-invalid" "renewal-info-invalid",
    "revocation-failed" "revocation-failed",
    "server-error" "server-error",
    "signing-failed" "signing-failed",
    "subproblem-for" "subproblem-for",
    "timeout" "timeout",
    "unauthorized-account" "unauthorized-account",
    "unexpected-content-type" "unexpected-content-type",
    "unsupported-identifier" "unsupported-identifier",
    "unsupported-key" "unsupported-key",
    "value-too-large" "value-too-large",
    "wildcard-identifier-not-allowed"
    "wildcard-identifier-not-allowed"}},
  "ol.clave.ext.common"
  {:page "api/ol-clave-ext-common.adoc",
   :vars
   {"certificate-event?" "certificate-event-QMARK-",
    "create-keystore" "create-keystore",
    "event-domain" "event-domain",
    "no-op-solver" "no-op-solver",
    "wait-for-certificates" "wait-for-certificates",
    "wrap-redirect-https" "wrap-redirect-https"}},
  "ol.clave.ext.jetty"
  {:page "api/ol-clave-ext-jetty.adoc",
   :vars
   {"sni-alpn-key-manager" "sni-alpn-key-manager",
    "sni-alpn-ssl-context" "sni-alpn-ssl-context",
    "sni-key-manager" "sni-key-manager",
    "sni-ssl-context" "sni-ssl-context"}},
  "ol.clave.ext.ring-jetty-adapter"
  {:page "api/ol-clave-ext-ring-jetty-adapter.adoc",
   :vars {"run-jetty" "run-jetty", "stop" "stop"}},
  "ol.clave.issuers"
  {:page "api/ol-clave-issuers.adoc",
   :vars
   {"google-trust-production-ca" "google-trust-production-ca",
    "google-trust-staging-ca" "google-trust-staging-ca",
    "lets-encrypt-production-ca" "lets-encrypt-production-ca",
    "lets-encrypt-staging-ca" "lets-encrypt-staging-ca",
    "zerossl-production-ca" "zerossl-production-ca"}},
  "ol.clave.lease"
  {:page "api/ol-clave-lease.adoc",
   :vars
   {"ILease" "ILease",
    "active?" "active-QMARK-",
    "background" "background",
    "cause" "cause",
    "deadline" "deadline",
    "done-signal" "done-signal",
    "ensure-active" "ensure-active",
    "remaining" "remaining",
    "sleep" "sleep",
    "with-cancel" "with-cancel",
    "with-deadline" "with-deadline",
    "with-timeout" "with-timeout"}},
  "ol.clave.specs"
  {:page "api/ol-clave-specs.adoc",
   :vars
   {"certificate-url" "certificate-url",
    "identifier?" "identifier-QMARK-",
    "key-change-url" "key-change-url",
    "new-account-url" "new-account-url",
    "new-authz-url" "new-authz-url",
    "new-nonce-url" "new-nonce-url",
    "new-order-url" "new-order-url",
    "order-url" "order-url"}},
  "ol.clave.storage"
  {:page "api/ol-clave-storage.adoc",
   :vars
   {"->KeyInfo" "--GT-KeyInfo",
    "KeyInfo" "KeyInfo",
    "LockLeaseRenewer" "LockLeaseRenewer",
    "Storage" "Storage",
    "TryLocker" "TryLocker",
    "delete" "delete",
    "exists?" "exists-QMARK-",
    "list" "list",
    "load" "load",
    "load-string" "load-string",
    "lock" "lock",
    "map->KeyInfo" "map--GT-KeyInfo",
    "renew-lock-lease" "renew-lock-lease",
    "safe-key" "safe-key",
    "stat" "stat",
    "storage-key" "storage-key",
    "store" "store",
    "store-string" "store-string",
    "try-lock" "try-lock",
    "unlock" "unlock",
    "with-lock" "with-lock"}},
  "ol.clave.storage.file"
  {:page "api/ol-clave-storage-file.adoc",
   :vars
   {"->FileStorage" "--GT-FileStorage",
    "->LockMeta" "--GT-LockMeta",
    "FileStorage" "FileStorage",
    "LockMeta" "LockMeta",
    "cache-dir" "cache-dir",
    "config-dir" "config-dir",
    "data-dir" "data-dir",
    "file-storage" "file-storage",
    "home-dir" "home-dir",
    "map->FileStorage" "map--GT-FileStorage",
    "map->LockMeta" "map--GT-LockMeta",
    "state-dir" "state-dir"}}}}
